@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caprasimo&family=Caveat:wght@400;500&family=Comforter&family=Dancing+Script:wght@500&family=Fasthand&family=Lilita+One&family=Lora:ital@1&display=swap');
* {
  /* font-family: 'Alfa Slab One', cursive;
font-family: 'Caprasimo', cursive;
font-family: 'Caveat', cursive;
font-family: 'Comforter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Lilita One', cursive; */
font-family: 'Hanalei Fill', cursive;
/* font-family: 'Lora', serif; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* opacity: 0.6  ; */
  width: 100%;
  background-color: antiquewhite;
  background-image: url("C:\myapp\src\components\app.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  background-position: center;

}
.form-container {
  width: 400px;
  height: 450px;
  background-color: hwb(122 58% 26%);
  padding: 20px;
  /* background-color:gray;   */
  border-radius: 20px;
  box-shadow: 10px 5px 100px 0 rgb(7, 7, 7);

  /* background: transparent;   */
}
.form-container:hover{
  box-shadow: 0 2px 6px 0 rgb(7, 7, 7);
  border-radius: 20px;
  /* border: 20px black; */
}
.input-group {
  margin-top: 35px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.link1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.btn2{
  padding: 10px 20px;
  background-color:BLACK;
  color: white;
  border: none;
}
.btn2:hover {
  background-color:  grey;
  color: black;
}
